@charset "UTF-8";

/*
em HTML é id       =       em CSS é #
em HTML é class    =        em CSS é .
*/

body {
    background-color: #F2B988;
    font: normal normal 16px Arial, Helvetica, Sansserif;
}
h1 {
    text-align: left;
    color: #F26BCE;
}
h1#principal{
    text-align: center;
    background-color: #F26BCE;
    color: white;
}
h2 {
    background-color: #8A99A6;
}
p {
    text-align: justify;
    text-indent: 30px;
}
.basico {
    color: #643DF2;
}

.intermediario{
    color: #F26BCE;
}
.avancado{
    color: #F23D3D;
}